@keyframes sideBarAnimation{
 0%{ height: 0;}
100%{ height:40vh}
}

@keyframes sideBarAnimationOut{
    0%{height: 40vh;}
   100%{height:0;}
   }


@keyframes positionSticky{
    0%{position: none; opacity: 0;}
   100%{position: sticky; opacity: 1;}
   }