@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.footer{

color: $text-color;   
background: $primary-color;
width: 100%;   
padding: $large-padding 0;
font-size: $superSmallTitleFont;
@include responsive(tab-landscape){ padding: $large-padding 0;}        
@include responsive(tab-portrait){ padding: $large-padding 0; }
@include responsive(phone){ padding: $large-padding 0; font-size: $smallTitleFont;}


&__foot{
       
display: grid;
grid-template-columns: repeat(3 , minmax(min-content, 1fr));
grid-gap: 1rem;
@include marginAuto;

@include responsive(tab-landscape){width: 100%;}
@include responsive(tab-portrait){width: 100%;}
@include responsive(phone){grid-template-columns: 1fr;width: 100%;}
&_links{
     padding: $small-padding;
     text-align: center;
     height: 100%;

    
    &_container{
        padding: $small-padding;
        &_ul{
            &-li{
            list-style: none;
              &-link{
                  color: $text-color;
                  //font-size: 1.5rem;
                  text-decoration: none;
              }
            }
        }//end of the ul
    }//end of the container in the links
}//end of the links div


//style the hours container 

&_hours{
    padding: $small-padding / 2;
    text-align: center;

    &_container{
        padding: $small-padding / 2;
   
        //style the title hours in the container
        &--title{
            letter-spacing: $smallFontSpacin;
            margin-bottom: 0.5rem;

        }//end of the tile

        //style the content open now closes at
        &--time{
          &-content-open , &-content-closed{
              margin: 1rem auto;
              color: $text-color;
              padding: $small-padding / 2;
              font-size: 2rem;
              width: 100%;

            @include responsive(tab-portrait){ width: 95%; font-size: $superSmallTitleFont;}  
            @include responsive(phone){ width: 65%; font-size: $superSmallTitleFont;}

          }//end of the container time
          
          &-content-open{background: darkgreen;}
          &-content-closed{background: $primary-dark;}

        }//end of the time

        &-schedule{
            padding: $small-padding 0;
            //&-days{font-size: 1.8rem;}
            //&-times{font-size: 1.3rem;}
        }
    }//end of the container
}//end of the container hours

&__contact{
    padding: $small-padding / 2;
    text-align: center;
    &__container{
        height: 100%;   
        &--title{margin-bottom: 1rem; }//end of the title
      &--list{padding: $small-padding 0;
           &--ul{
               &--li{
                   list-style: none;
                   padding: 0.3rem 0;
               }//end of the li
           }//end of the ul container
        }//end of the list global container
    }//end of the container
}//end of the contact


}//end of the foot
}//end of the footer