@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.index{

    display: grid;
    grid-template-columns: repeat(8 , minmax(min-content , 1fr));
    grid-template-rows: 90vh 20rem 30rem 70vh 35rem ;
@include responsive(phone){
    grid-template-columns: 1fr;
    grid-template-rows: 90vh 20rem auto 70vh 35rem ;

}


@include responsive(tab-portrait){
    grid-template-columns: 1fr;
    grid-template-rows: 90vh 20rem auto 70vh 35rem ;

}

    &__showcase{
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        background: linear-gradient(to right , rgba($secondary-dark , 0.9) , rgba($secondary-color , 0.8)), url('../../assets/showcase_large.jpg'); 
        background-position: start;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        @include responsive(phone){
            background: linear-gradient(to right , rgba($secondary-dark , 0.9) , rgba($secondary-color , 0.8)), url('../../assets/showcase_responsive.jpg'); 
            background-attachment: none;
        }

        @include responsive(tab-portrait){
            background: linear-gradient(to right , rgba($secondary-dark , 0.9) , rgba($secondary-color , 0.8)), url('../../assets/showcase_responsive.jpg'); 
            background-attachment: none;
        }

        &__container{
           @include centerAbsoulte;
           background: rgba($secondary-color , 0.8);
            padding: 10rem 20rem;
            @include responsive(phone){background: none;}
            @include responsive(tab-portrait){background: none;}
            

            &--content{
                &--title{
                    text-align: center;

                    & > h1 { margin-bottom: 1rem;}
                    &-h1{
                     display: block;
                     font-size: $bigTitleSize;
                     letter-spacing: $smallFontSpacin;

                     @include responsive(phone){font-size: 5.5rem;}
                     @include responsive(tab-portrait){font-size: 7.5rem;}
                    }//end of the header h1 element

                    &-h2{
                       display: block;
                       font-size: $smallTitleFont;
                       text-transform: lowercase;
                    }//end of the header h2 element
                }//end of the container where the to headers are 

            &--buttons{
                margin-top:4rem;
                width: 100%;
                
                &-container{
                    @include marginAuto;
                    display: flex;
                   flex-direction: row;
                   flex-wrap: wrap;
                   justify-content: center;
                
                &-button{
                   
                    background: $primary-dark;
                    padding: $small-padding $medium-padding;
                    text-decoration: none;
                    color: $text-color;
                    font-size: $smallTitleFont;
                    transition: 0.3s;
                    &:not(:last-child){margin-right: 2rem;}
                    &:active{transform: translateY(0.2rem);transition: 0.2s;}
                    &:hover{ background: $primary-color;}
                }
                }
            }

            }//end of the content container
        }//end of the main container
    }//end of the whole showcase

    &__slogan{
        background: $primary-color;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        position: relative;

        &--content{
            @include centerAbsoulte;
            font-size: $smallTitleFont;     
            width: 90%;
            margin: 0 auto;
            text-align: center;
            
            &-message{
                letter-spacing: $mediumFontSpacin;
                @include responsive(phone){font-size: $smallTitleFont;}
                @include responsive(tab-portrait){font-size: $mediumTitleFont;}
            }//end of the message h1 
        }//end of the content container where the message is
    }//end of the slogan cpntainer below the showcase


          &__images{
              background: $primary-color;
              grid-column: 1 / -1;
              grid-row: 3 / 4;
              display: grid;
              grid-template-columns: repeat(4 , minmax(min-content , 1fr));

              @include responsive(phone){grid-template-columns: 1fr;}
              @include responsive(tab-portrait){grid-template-columns: 1fr;}
           
              & > div{
                  
                  background-size: cover;
                  background-position: center;
                  @include responsive(phone){height: 30rem;}
                  @include responsive(tab-portrait){height: 30rem;}
              }

              &--1{
                  background: url('../../assets/image-1-large.jpg');
                @include responsive(phone){background: url('../../assets/image-1-responsive.jpg');}
                @include responsive(tab-portrait){background: url('../../assets/image-1-responsive.jpg');}
                }
              &--2{
                  background:url('../../assets/image-2-large.jpg');
                  @include responsive(phone){background:url('../../assets/image-2-responsive.jpg');}
                  @include responsive(tab-portrait){background:url('../../assets/image-2-responsive.jpg');}
            }
              &--3{
                  background: url('../../assets/image-3-large.jpg');
                  @include responsive(phone){background: url('../../assets/image-3-responsive.jpg');}
                  @include responsive(tab-portrait){background: url('../../assets/image-3-responsive.jpg');}
                }
              &--4{
                  background: url('../../assets/image-4-large.jpg');
                  @include responsive(phone){background: url('../../assets/image-4-responsive.jpg');}
                  @include responsive(tab-portrait){background: url('../../assets/image-4-responsive.jpg');}
                }
          } //end of the images container


          &__geolocation{
              background: url('../../assets/mapsImage.png');
              background-size: cover;
              background-position: start;
              grid-column: 1 / -1;
              grid-row: 4 /5;
              display: grid;
              justify-content: center;
              align-items: center;
              &__title{
                  display: block;
                  background: rgba($secondary-color , 0.8);
                padding: 3rem;
                font-size: 3rem;
                @include responsive(phone){  padding: 3rem; font-size: $smallTitleFont;}
                @include responsive(tab-portrait){  padding: 4rem; font-size: $smallTitleFont;}

              }
          }//end of the geolocation

          &__beforeFooter{
              background: linear-gradient( to right , rgba($secondary-color , 0.7) , rgba($secondary-dark , 0.7)) , url('../../assets/image-2-large.jpg');
              background-position: center;
              background-attachment: fixed;
              background-size: cover;
              grid-column: 1 / -1;
             position: relative;

             @include responsive(phone){
                background: linear-gradient( to right , rgba($secondary-color , 0.7) , rgba($secondary-dark , 0.7)) , url('../../assets/image-2-responsive.jpg');
                background-position: center;
                background-attachment: none;
                background-size: cover;
             }

             @include responsive(tab-portrait){
                background: linear-gradient( to right , rgba($secondary-color , 0.7) , rgba($secondary-dark , 0.7)) , url('../../assets/image-2-responsive.jpg');
                background-attachment: none;   
             }
              &--content{
                @include marginAuto;
                   @include centerAbsoulte;
                  background: rgba($primary-dark , 0.7);
                  text-align: center;

                  &-message{
                      padding: $large-padding;
                      font-size: $mediumTitleFont;
                      @include responsive(phone){font-size: $smallTitleFont;padding: $medium-padding;}
                      @include responsive(tab-portrait){font-size: $smallTitleFont;padding: $medium-padding;}
                  }

              }

          }

}//end of the index container