@import '../variables/variables.scss';

.mailingList{
    height: 100%;
    background: $secondary-color;


    &__showcase{
        height: 40vh;
        background:linear-gradient(to right , rgba( $secondary-color , 0.5) , rgba($secondary-dark , 0.7)) , url('../../assets/pizzaMailing-large.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;

        &__title{
            display: block;
            background: $primary-color;
            padding: 4rem;
           opacity: 0.9;
            &-content{
                display: block;
               
            }
        }//end of the the title container 
    }//end of the showcase 


    &__container{
     width: 80%;
     margin: 0 auto;
     padding: 3rem;
     background: $secondary-light;

     &__form{
         width: 60%;
         margin: 0 auto;

         &-dataForm{
             width: 100%;

             &-input{
                 padding: 2rem;

                 &:last-child{
                     margin-top:3rem;
                 }
                
             }
         }
     }
    }

}