@import '../variables/variables.scss';

.menu{
    width: 100%;
    //background: linear-gradient( to right , rgba($primary-color , 0.9) , rgba($primary-dark , 0.7));
    background: $secondary-color;
     
    &__container{
        padding: $small-padding;
        @include marginAuto;

        display: grid;
        grid-template-columns: repeat(12 , minmax(min-content, 1fr));
       grid-template-rows: repeat(12 , minmax(13rem , 1fr));
       grid-gap: 0.5rem;

       @include responsive(phone){ 
        padding: 0; 
        width: 100%;
        grid-template-rows: repeat(16 , minmax(17rem , 1fr));
     
    }        
       & > div{
        background-position: center;
           background-size: cover;
           display: flex;
           justify-content: center;
           align-items: center;
           position: relative;
           transition: 0.2s;
        


           &:hover{
               transform:  scale(1.02);
           }//end of the hover
       }//end of the direct childs of container


       &__appetizers{
         background:url('../../assets/fries-large.jpg');
         grid-column: 1 / 10;
         grid-row: 1 / 2 ;
         @include responsive(phone){ 
         grid-column: 1 /- 1;
         grid-row: 1 /2;
         background:url('../../assets/fries-responsive.jpg');

        }

       

        
       }

       &__soupSalads{
           background: url('../../assets/salad-large.jpg');
           grid-column: 10 / -1;
           grid-row: 1 / 2;
           @include responsive(phone){ 
            grid-column: 1 /- 1;
            grid-row: 2 /3;
            background: url('../../assets/salad-responsive.jpg');
           }

       }

       &__pizza{
           background: url('../../assets/pizza-large.jpg');
           grid-column: 1/ 6;
           grid-row: 2 / 4;

           @include responsive(phone){ 
            grid-column: 1 /- 1;
            grid-row: 3 /4;
            background: url('../../assets/pizza-responsive.jpg');
           }

       }

       &__gourmetPizza{
           background: url('../../assets/pizza2-large.jpg');
         grid-column: 6 / -1;
         grid-row: 2 / 3;
         @include responsive(phone){ 
            grid-column: 1 /- 1;
            grid-row: 4 /5;
            background: url('../../assets/pizza2-responsive.jpg');

           }

       }


       &__calzoneStromboli{
           background: url('../../assets/calzone-large.jpg');
           grid-column: 6 / -1;
           grid-row: 3 / 6;
           @include responsive(phone){ 
            grid-column: 1 /- 1;
            grid-row: 5 /6;
            background: url('../../assets/calzone-responsive.jpg');

           }

       }

       &__pasta{
           background: url('../../assets/pasta-large.jpg');
           grid-column: 1 / 4;
           grid-row: 4 / 6;
           @include responsive(phone){ 
            grid-column: 1 /- 1;
            grid-row: 6 / 7;
            background: url('../../assets/pasta-responsive.jpg');

           }
       }

       &__bakedDishes{
           background: url('../../assets/baked-large.jpg');
           grid-column: 4 / 6;
           grid-row: 4 / 6;

           @include responsive(phone){ 
            grid-column: 1 /- 1;
            grid-row: 7 / 8;
            background: url('../../assets/baked-responsive.jpg');

           }
       }

       &__entrees{
           background: url('../../assets/entrees-large.jpg');
           grid-column: 1 / -1;
           grid-row: 6 / 9;

           @include responsive(phone){ 
            grid-column: 1 /- 1;
            grid-row: 8 / 9;
            background: url('../../assets/entrees-responsive.jpg');

           }
       }

       &__burgerChicken{
           background: url('../../assets/burgerChicken-large.jpg');
           grid-column: 1 / 5 ;
           grid-row: 9 / 11;

           @include responsive(phone){ 
            grid-column: 1 /- 1;
            grid-row: 9 / 10;
            background: url('../../assets/burgerChicken-responsive.jpg');

           }
       }


       &__superBurgers{
           background: url('../../assets/superBurger-large.jpg');
           grid-column: 5 / 10;
           grid-row: 9 / 10;

           @include responsive(phone){ 
            grid-column: 1 /- 1;
            grid-row: 10 / 11;
            background: url('../../assets/superBurger-responsive.jpg');

           }
        }

        &__hotSubs{
            background: url('../../assets/hotSubs-large.jpg');

            grid-column: 10 / -1;
            grid-row: 9 / 10;

            @include responsive(phone){ 
                grid-column: 1 /- 1;
                grid-row: 11 / 12;
                background: url('../../assets/hotSubs-responsive.jpg');

               }

        }

        &__coldSubs{
            background: url('../../assets/coldSub-large.jpg');
            grid-row: 11 / -1;
            grid-column: 1 / 6;

            @include responsive(phone){ 
                grid-column: 1 /- 1;
                grid-row: 12 / 13;
                background: url('../../assets/coldSub-responsive.jpg');

               }
        }

        &__wraps{
            background: url('../../assets/wrap-large.jpg');
           grid-column: 5 / 8;
            grid-row: 10 / 11;

            @include responsive(phone){ 
                grid-column: 1 /- 1;
                grid-row: 13 / 14;
                background: url('../../assets/wrap-responsive.jpg');

               }
        }

        &__kidsMenu{
            background: url('../../assets/kids-large.jpg');
            grid-row: 11 / -1;
            grid-column: 6 / 8;

            @include responsive(phone){ 
                grid-column: 1 /- 1;
                grid-row: 14 / 15;
                background: url('../../assets/kids-responsive.jpg');

               }
        }

        &__desserts{
            background: url('../../assets/desserts-large.jpg');
            grid-column: 8 / 11;
            grid-row: 10 / -1;

            @include responsive(phone){ 
                grid-column: 1 /- 1;
                grid-row: 15 / 16;
                background: url('../../assets/desserts-responsive.jpg');

               }
        }

        &__beverages{
            background: url('../../assets/beverage-large.jpg');
            grid-column: 11 / -1;
            grid-row: 10 / -1;
            @include responsive(phone){ 
                grid-column: 1 /- 1;
                grid-row: 16 / 17;
                background: url('../../assets/beverage-responsive.jpg');

               }
        }
}    
}


/*STYLE THE MENU DETAIL COMPONENT WHEN SELECTED AN SPECIFICC MENU TO SEE*/


.menuDetail{
    background: $secondary-color;

    &__container{
        @include marginAuto;
        padding: $large-padding;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include responsive(phone){
            padding: $medium-padding 0;
            width: 100%;
        }

       

        &__element{
     
            outline: 0.1rem solid $text-color;
            width: 70%;
            padding: $large-padding;

            @include responsive(phone){
                padding: $small-padding 0;
                width: 90%;
            }
    

            &-title{
                @include marginAuto;
              background: $primary-dark;
                padding: $small-padding;
                letter-spacing: $mediumFontSpacin;
                margin-bottom: 2rem;
            }

        

            &--item{
                padding: $small-padding;
                &:not(:last-child){
                    margin-bottom: 2rem;
                }

                &-description{
                    font-size: $smallTitleFont;
                }

                &-price{
                    font-size: $superSmallTitleFont;
                }
            }
        }
    }
}