@import '../variables/variables.scss';
@import '../mixins/mixins.scss';
@import '../animations/animations.scss';

.sideNavbarActive{
    width: 100%;
    height: 0;
    background: $primary-dark;
    color: $text-color;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.sideNavbar{
    width: 100%;
    
    background: $primary-dark;
    color: $text-color;

    @include responsive(phone){
  height: 30vh;
}
    
    &-container{
        width: 100%;    
        padding: $large-padding;     
        &-elements{
            &-ul{
                &-li{
                    border-top: 0.1rem solid $text-color;
                    border-bottom: 0.1rem solid $text-color;
                   
                    padding: $small-padding;
                    
                    &-link{
                        color: $text-color;
                        text-decoration: none;
                        font-size: $smallTitleFont;
                        letter-spacing: $mediumFontSpacin;
                    }
                }
            }
        }
    }
  
}