$primary-color: #b71c1c;
$primary-light: #f05545;
$primary-dark: #7f0000;

$secondary-color: #263238;
$secondary-light: #4f5b62;
$secondary-dark:#000a12;

$text-color:#ffffff;


$small-padding: 1.5rem;
$medium-padding:3rem;
$large-padding:4.5rem;


$link-fontSize:2rem;

$bigTitleSize: 7rem;

$mediumTitleFont:3rem;
$smallTitleFont:2rem;
$superSmallTitleFont:1.5rem;

$smallFontSpacin:0.2rem;
$mediumFontSpacin:0.5rem;

