@import '../variables/variables.scss';
/*This styles the titles h1 or considered bigTtiles in this case our menu appetizzers 
and also the sides title */


.titleMenu{
    text-decoration: none;
    font-size: 3rem;
    color: $text-color;
}

.hoverContainer{
    height: 100%;
    width: 100%;
    background: rgba($secondary-color , 0.7);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    
    &:hover{
        opacity: 1;
        cursor: pointer;   
    };
}


//style the labels
.labelStyle{

font-size: 2rem;
padding:1rem 0; 
}//end of the label style

//style the input fields
.inputStyle{
    width: 100%;
    height: 3.5rem;
    border: none;
}


//style the checkbox button
.labelStyle__checkbox{
display: block;
//give a position of relative for the children elements in absolute
position: relative;

&--message{
    //message is the one next to the checkbox button
    position: absolute;
    left:7%;
    font-size:1.6rem;
    padding: 0.5rem;
}

//clear the style for the checkbox button s it will not be visible
&--button{
    position: absolute;
    top: 0;
     left: 0;
   z-index: 2;
   height: 0rem;
   width: 0rem;
   opacity: 0;
   
 //when the button is clicked then the after what looks like a check will display  
&:checked ~ .labelStyle__checkbox--checked::after{
    display: block;
}

}

//this is the container main that looks like a red box with a white borders 
&--checked{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background:$primary-color;
    border: 0.2rem solid white;
    height: 3rem;
    width: 3rem;

//apply a hover in the container to change the background color
    &:hover{
        cursor: pointer;
        background: $primary-dark;
    }//end of the hover

    //this is the after that looks like a check when the button is checked
    // to get the effect i use rotate and to center it into the box translate
    &::after{
        content:'';
        height: 2rem;
        width: 1rem;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        background: transparent;
        //only the bottom and right side of the box has style to ge the L effect
        border-bottom: 0.3rem solid white;
       border-right:0.3rem solid white; ;
       display: none;
       transition: 1s;
    }//end of the after 
}//end of the checked container

}//end of the all container