@import './mixins/mixins.scss';
@import './sections/menu.scss';
@import './reusables/reusables.scss';
@import './variables/variables.scss';
@import './sections/navbar.scss';
@import './sections/footer.scss';
@import './sections/index.scss';
@import './sections/geolocation.scss';
@import './sections/mailingList.scss';
@import './sections/aboutUs.scss';
@import './sections/contactComponent.scss';
@import './sections/responsiveMenu.scss';
@import './animations/animations.scss';

* , :root , ::after , ::before {
padding: 0;
margin: 0;
box-sizing:border-box;
overflow-x: hidden;

}

html{
    font-size: 62.5%;
    font-family: 'Zilla Slab', serif;
    color: $text-color;


    @include responsive(phone){
        font-size: 50%;
    }
}
